$bg: #fff;
$col: #333;
$font-main: Lora, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$blue-darken-1: #1e88e5;
$blue-darken-3: #1565c0;
$blue-accent-3: #2979ff;
$grey-lighten-2: #e0e0e0;
$green-accent-4: #00c853;
$red: #e53935;
$yellow-darken-3: #f9a825;